<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Niigma</title>
</head>
<body style="font-family: 'Cabin', sans-serif; background-color: #f9f9f9; color: #000;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px;">

    <!-- Logo (no background) -->
    <div style="text-align: left; padding-bottom: 20px;">
      <img src="https://res.cloudinary.com/dv86ryr55/image/upload/v1749732930/Niigma_logo_sbuu9t.jpg"
          alt="Niigma Logo"
          style="max-width: 150px; height: auto;" />
    </div>


    <h2 style="margin-top: 0;">Welcome to Niigma</h2>

    <p>Hello {{username}},</p>

    <p style="font-size: 16px; line-height: 1.6;">
      Thank you for signing up with Niigma. To complete your registration, please use the following One-Time Password (OTP) to verify your email address:
    </p>

    <p style="font-size: 24px; font-weight: bold; letter-spacing: 2px; margin: 20px 0;">{{otp_code}}</p>

    <p style="font-size: 16px; line-height: 1.6;">
      For your security, please do not share this code with anyone.<br />
      <i style="color: #555;">This code is valid for the next 5 minutes. If you did not initiate this request, please contact our support team at <a href="mailto:support@niigma.com" style="color: #555; text-decoration: underline;">support@niigma.com</a>.</i>
    </p>

    <p>Thank you,<br>Niigma Team.</p>

    <footer style="margin-top: 40px; font-size: 14px; color: #95a5a6;">
      <p>Questions or FAQ? Contact us at <a href="mailto:support@niigma.com" style="color: #95a5a6; text-decoration: underline;">support@niigma.com</a></p>
    </footer>

  </div>
</body>
</html>
