<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Niigma</title>
</head>
<body style="font-family: 'Cabin', sans-serif; background-color: #f9f9f9; color: #000;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px;">
    
    <!-- Logo without background bar -->
    <div style="text-align: left; padding-bottom: 20px;">
      <img src="https://res.cloudinary.com/dv86ryr55/image/upload/v1749732930/Niigma_logo_sbuu9t.jpg"
          alt="Niigma Logo"
          style="max-width: 150px; height: auto;" />
    </div>


    <h2 style="margin-top: 0;">Welcome to Niigma</h2>
    <p>Hello {{username}},</p>

    <p style="line-height: 160%;">Thank you for signing up with Niigma. To complete your registration, please use the following One-Time Password (OTP) to verify your email address:</p>
    
    <p style="font-size: 18px; font-weight: bold;">{{otp_code}}</p>

    <p>Thank you,<br>Niigma Team.</p>

    <footer style="margin-top: 40px; font-size: 14px; color: #95a5a6;">
      <p>Questions or FAQ? Contact us at <a href="mailto:support@niigma" style="color: #95a5a6; text-decoration: underline;">support@niigma</a></p>
    </footer>
  </div>
</body>
</html>
